.fondo {
	margin: 0;
	padding: 0;
	background: url(img/univers.jpg) center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;	
}
.login {
	width: 320px;
	height: 420px;
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.login .logo {
	width: 100px;
	height: 100px;
	border-radius: 25%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.login label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
}

.login h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login input{
	width: 100%;
	margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px;
}

.login input[type="submit"] {
	border: none;
	outline: none;
	height: 40px
	color: white;
	font-size: 18px;
	border-radius: 20px;
}

.login a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey
}

.login a:hover {
	color: white;
}

.u1 {
	border-style: solid;
	border-color: blue;
}