body {
	background-image: url(img/fondo.jpg);
}

.taules1 img {
	height: 100%;
	width: 100%;
}

.taules1 td {
	height: 100px;
	width: 230px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color: black;
}

.taules1 a {
	color: white;
	text-decoration: none;
}

.taules1 a:hover {
	color: white;
	text-decoration: underline;
}

.vialactea1 img {
	height: 100%;
	width: 100%;
}

.vialactea1 td {
	height: 100px;
	width: 230px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color: black;
}

.vialactea1 a {
	color: white;
	text-decoration: none;
}

.vialactea1 a:hover {
	color: white;
	text-decoration: underline;
}